<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Change Image</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css}">

    <link rel="stylesheet" th:href="@{/css/main.css}">

    <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}">
    </script>
</head>
<body>
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/index}">
                    <!-- FIXME FIND AND COMPLETE BRAND WITH AN IMAGE CONCERNING RECIPES-->
                    <img alt="Brand" src="...">
                </a>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a th:href="@{/index}">Home</a>
                    </li>
                    <li>
                        <a href="#">Manage Recipes</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="container-fluid">
        <div class="row">
            <ol class="breadcrumb">
                <li><a th:href="@{/index}">Recipes List</a></li>
                <li><a th:href="@{/recipe/details/{id}(id=${recipe.id})}" th:text="${recipe.description}">Recipe
                    Details</a>
                </li>

            </ol>
        </div>
        <h2 class="col-md-offset-1" th:text="${recipe.description}"></h2>
        <div class="col-md-9">
            <form th:action="@{'/recipe/'+${recipe.id}+'/image/upload'}" method="post"
                  enctype="multipart/form-data">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Upload a new recipe Image</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group col-md-4">
                            <label class="control-label">Select File: </label>
                            <input class="form-control file" type="file" name="imageFile" id="imageFile">
                        </div>
                        <button type="submit" class="text-center btn btn-success">Upload
                            <span class="glyphicon glyphicon-upload"></span></button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</main>
</body>
</html>