<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon_io/site.webmanifest">


    <title th:text="${recipe.description}">Recipe details</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css}">

    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}">
    </script>
</head>
<body>
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/index}">
                    <img class="logo" alt="Brand" th:src="@{'/images/recipe-logo7.png'}"/>
                </a>
            </div>
            <ul class="nav navbar-nav pull-right col-md-6">
                <li class="active">
                    <a th:href="@{/index}">Home</a>
                </li>
                <li>
                    <a th:href="@{/recipe/new}" href="#">Create Recipes</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="container-fluid">
        <div class="row">
            <ol class="breadcrumb">
                <li><a th:href="@{/index}">Recipes List</a></li>
                <li><a th:href="@{/recipe/details/{id}(id=${recipe.id})}" th:text="${recipe.description}">Recipe
                    Details</a>
                </li>
            </ol>
        </div>
        <h2 class="col-md-offset-1" th:text="${recipe.description}"></h2>
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Recipe Description</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-5 ">
                            <a href="#" class="thumbnail">
                                <img th:src="@{'/recipe/'+ ${recipe.id} +'/image/recipe-image'}" alt="Photo plat">
                            </a>
                            <a th:href="@{'/recipe/'+ ${recipe.id} +'/image/change'}"
                               class="btn btn-primary center-block">Change Image <span
                                    class="glyphicon glyphicon-pencil"></span></a>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-3 col-xs-3 desc-label">
                                        <h5><span class="glyphicon glyphicon-signal"></span>
                                            Difficulty:</h5>
                                    </div>
                                    <div class="col-md-3 col-xs-3">
                                        <h5 th:text="${recipe.difficulty.name()}">MODERATE</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-xs-3 desc-label">
                                        <h5><span class="glyphicon glyphicon-user"></span> Yield:
                                        </h5>
                                    </div>
                                    <div class="col-md-3 col-xs-3">
                                        <h5 th:text="'Serves '+ ${recipe.servings}">1 </h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-xs-3 desc-label">
                                        <h5><span class="glyphicon glyphicon-time"></span> Prep Time:
                                        </h5>
                                    </div>
                                    <div class="col-md-3 col-xs-3">
                                        <h5 th:text="${recipe.prepTime}+' minutes'">0 minute</h5>
                                    </div>
                                    <div class="col-md-3 col-xs-3 desc-label">
                                        <h5><span class="glyphicon glyphicon-time"></span> Cook Time:
                                        </h5>
                                    </div>
                                    <div class="col-md-3 col-xs-3">
                                        <h5 th:text="${recipe.cookTime}+' minutes'">0 minute</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3 desc-label">
                                        <h5> Categories:</h5>
                                    </div>
                                    <div class="col-xs-9 category-list">
                                        <h5 class="col-md-2 col-xs-3" href="#" th:each="category: ${recipe.categories}">
                                            <span class="badge" th:text="${category.categoryName}">Category Name</span>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 no-padding-left">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <span class="glyphicon glyphicon-list"></span>
                                    INGREDIENTS
                                </h3>
                            </div>
                            <div class="panel-body">
                                <ul>
                                    <li th:each="ingredient: ${recipe.ingredients}">
                                        <a th:href="@{'/recipe/'+${recipe.id}+'/ingredients/details/'+${ingredient.id}}"
                                           th:text="${ingredient.amount}+' '+  ${ingredient.uom.name} + ' ' + ${ingredient.description}"></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="panel-footer text-center">
                                <a th:href="@{'/recipe/'+ ${recipe.id} +'/ingredients'}"
                                   class="btn btn-warning center-block">Manage <span
                                        class="glyphicon glyphicon-edit"></span></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7 no-padding-right">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><span class="glyphicon glyphicon-tasks"></span> METHOD</h3>
                            </div>
                            <div class="panel-body">
                                <p class="procedure" th:if="${recipe.directions != null}">
                                    <span th:text="${recipe.directions}">Procedure</span>
                                </p>
                                <p>
                                    From <span th:text="${recipe.source}">Source</span> - <a th:href="@{${recipe.url}}"
                                                                                             th:text="${recipe.url}">Url</a>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="glyphicon glyphicon-pencil"></span> NOTES</h3>
                        </div>
                        <div class="panel-body">
                            <p th:if="${recipe.notes != null}" th:text="${recipe.notes.recipeNotes}"></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="panel panel-primary actions">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="glyphicon glyphicon-edit"></span> ACTIONS</h3>
                        </div>
                        <div class="panel-body text-center">
                            <a type="button" class="btn btn-warning" th:href="@{/recipe/update/{id}(id=${recipe.id})}">Update
                                Recipe <span class="glyphicon glyphicon-pencil"></span></a>
                            <a type="button" class="btn btn-danger" th:href="@{/recipe/delete/{id}(id=${recipe.id})}">Delete
                                Recipe <span class="glyphicon glyphicon-trash"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</main>
<footer class="my-footer">
    <div class="container-fluid">
        <p class="center-block text-center">Copyright &copy; DDF 2020</p>
    </div>
</footer>

</body>
</html>