<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title th:text="${ingredient.description}">Ingredient details</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css}">

    <link rel="stylesheet" th:href="@{/css/main.css}">

    <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}">
    </script>
</head>
<body>
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/index}">
                    <img class="logo" alt="Brand" th:src="@{'/images/recipe-logo7.png'}"/>
                </a>
            </div>
            <ul class="nav navbar-nav pull-right col-md-6">
                <li class="active">
                    <a th:href="@{/index}">Home</a>
                </li>
                <li>
                    <a th:href="@{/recipe/new}" href="#">Create Recipes</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="container-fluid">
        <div class="row">
            <ol class="breadcrumb">
                <li><a th:href="@{/index}">Recipes List</a></li>
                <li><a th:href="@{'/recipe/new'}"
                       th:text="${recipe.description}">New
                    Recipe</a>
                </li>
            </ol>
        </div>
        <h2 class="col-md-offset-1" th:text="${ingredient.description}"></h2>
        <div class="col-md-9">
            <form th:object="${ingredient}" th:action="@{'/recipe/new'}" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Ingredient Description</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="desc-label">Ingredient Description: </label>
                                <input type="text" class="form-control" th:field="*{description}">
                            </div>
                            <div class="form-group col-md-4">
                                <label class="desc-label"> Unit of Measure: </label>
                                <select class="form-control" name="uom">
                                    <option th:each="uom: ${uomList}"
                                            th:value="${uom}"
                                            th:selected="${uom.id.equals(ingredient.uom.id)}"
                                            th:text="${uom}">
                                        Uom
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="desc-label">Amount/Quantity: </label>
                                <input class="form-control" type="number" th:field="*{amount}">
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="text-center btn btn-success">Save
                            <span class="glyphicon glyphicon-ok"></span></button>
                        <a th:href="@{'/recipe/-1/ingredients/new'}" class="text-center btn btn-warning">Cancel
                            <span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                </div>
            </form>
        </div>

    </div>
</main>
<footer class="my-footer">
    <div class="container-fluid">
        <p class="center-block text-center">Copyright &copy; DDF 2020</p>
    </div>
</footer>
</body>
</html>