
/*main{*/
/*    width: 70%;*/
/*    border: solid 2px dimgray;*/
/*    background: burlywood;*/
/*    font-family: "Cambria Math", serif;*/
/*    padding: 20px;*/
/*    margin: auto;*/
/*}*/
body {
    color: #3c3c3c;
}
@media screen and (max-device-width: 767px) {
    body {
        font-size: 25px;
    }

    .container-fluid {
        max-width: 95%;
    }

    .media img {
        width: 400px;
        max-height: 400px;
    }

    .media-right, .media-left {
        padding-bottom: 0;
    }

    .navbar {
        height: 100px;
        padding-top: 20px;
    }

    .btn {
        font-size: inherit;
    }

    h5 {
        font-size: 25px;
    }

    h3 {
        font-size: 30px;
    }

    main {
        margin-top: 130px;
    }

}

/*For wide screen*/
@media screen and (min-device-width: 768px ) {
    .container-fluid {
        width: 90%;
    }

    main {
        margin-top: 80px;
    }

    .media img {
        width: 200px;
        max-height: 200px;
    }
}

.jumbotron {
    text-align: center;
    padding-top: 80px;
    background: darkorchid;
    color: white;
}

.jumbotron h1 {
    font-size: 60px;
}

.breadcrumb {
    font-weight: bolder;
}

a {
    color: darkorchid;
    text-decoration: none;
}

a:focus, a:hover {
    color: darkorchid;
    font-weight: bolder;
    text-decoration: none;
}

.btn {
    font-family: cursive;
    font: icon;
    font-weight: bolder;
}

.btn-lg {
    font-size: 18px;
}


.btn-primary {
    background: darkorchid;
}

.btn-primary:hover {
    background: darkorchid;
    color: black;

}

.btn-warning {
    background: darkorange;
}

/*.btn-warning {*/
/*    background-image: -webkit-linear-gradient(top,#f0ad4e 0, #f0574e 100%);*/
/*    background-image: -o-linear-gradient(top,#f0ad4e 0,#f0574e 100%);*/
/*    background-image: -webkit-gradient(linear,left top,left bottom,from(#f0ad4e),to(#f0574e));*/
/*    background-image: linear-gradient(to bottom,darkorange 0,#f0574e 100%);*/
/*    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0ad4e', endColorstr='#f0574e', GradientType=0);*/
/*    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);*/
/*    background-repeat: repeat-x;*/
/*    border-color: #f0574e;*/
/*}*/

.panel-primary > .panel-heading {
    background: darkorchid;
    background-repeat: repeat-x;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #333;
    text-decoration: none;
}

.btn-warning:hover {
    border-color: darkorange;
}




footer.my-footer {
    margin-top: 10px;
    padding: 10px;
    background: black;
    background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%);
    color: white;
}

img.logo {
    height: 45px;
    width: auto;
}
img{
    display: inline-block;
    width: 400px;
    height: auto;
    border: dimgray solid 4px;
}


/*Personals styles*/

.no-padding-left{
    padding-left: 0;
}

.no-padding-right{
    padding-right: 0;
}

.desc-label{
    padding-right: 0;
}

.desc-label h5{
    font-weight: bolder;
}

.category-list {
    line-height: 100%;
}

.category-list .badge {
    background: forestgreen !important;
    font-size: inherit;
}


.bottom-properties{
    font-weight: bold;
    position: relative;
    bottom: 0;
    margin-top: 10px;
    text-align: start;
    font-style: italic;
    font-size: 0.6em;
}

.bottom-properties span:nth-child(2n) {
    margin-right: 1em;
}

.has-text-centered {

}

.file-dropzone {
    position: relative;
    background-color: white;
    border-radius: 6px;
    color: #4a4a4a;
    display: block;
    height: 16rem;
    border: 2px dashed #363636;
    margin: 10px 0;
}

.file-dropzone input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
}

.file-dropzone p {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 16rem;
    color: #363636;
    font-family: Arial;
}

.has-text-centered {
    text-align: center !important;
}

.procedure {
    text-align: justify;
}

.actions .panel-body > a {
    margin: 0 10px;
}

.image-upload input, .image-upload label, .image-upload button {
    margin: 5px;
}
