<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title th:text="Home">Recipe Home</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
    th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css}">

    <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}">
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img alt="Brand" src="...">
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li><a th:href="@{/index}">Recipes List</a></li>
            </ol>
            <div class="row">
                <div class="col-md-8 col-md-offset-1">
                    <h1>List of Recipes</h1>
                    <div th:each="recipe: ${recipes}" class="media">
                        <div th:if="${recipe.id % 2 != 0}" class="media-left media-middle">
                            <a th:href="@{/recipe/details/{id}(id=${recipe.id})}">
                                <img th:src="@{${recipe.imageUrl}}"/>
                            </a>
                        </div>
                        <div class="media-body">
                            <a th:href="@{/recipe/details/{id}(id=${recipe.id})}">
                                <h4 class="media-heading" th:text="${recipe.description}"></h4>
                            </a>
                            <i th:text="${recipe.notes.recipeNotes}" class="text-justify"></i>
                            <p class="bottom-properties">
                                <span> Prep Time:</span><span th:text="${recipe.prepTime}+' minutes'"></span>
                                <span> Cook Time:</span><span th:text="${recipe.cookTime}+' minutes'"></span>
                                <span> Yield:</span><span th:text="'Serves '+ ${recipe.servings}"></span>
                            </p>
                        </div>
                        <div th:if="${recipe.id % 2 == 0}" class="media-right media-middle">
                            <a th:href="@{/recipe/details/{id}(id=${recipe.id})}">
                                <img th:src="@{${recipe.imageUrl}}"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
</body>
</html>