<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="Home">Recipe Home</title>
</head>
<body>
    <h1>My Recepices dkfj df!</h1>
    <p>
        This is my first recipe. I'll cook you Water fufu.
    </p>
    <main>
        <h2>List of recipes</h2>
            <div th:each="recipe: ${recipes}">
                <img th:src="@{/images/Guacamole.jpg}"/>
                <a th:href="@{/details/{id}(id=${recipe.id})}" th:text="${recipe.description}"></a>
                <p>
                    <span> Prep Time:</span><span th:text="${recipe.prepTime}+' minutes'"></span>
                    <span> Cook Time:</span><span th:text="${recipe.cookTime}+' minutes'"></span>
                    <span> Yield:</span><span th:text="'Serves '+ ${recipe.servings}"></span>
                </p>
            </div>

    </main>
</body>
</html>